// colors
$main-color: #0B1739;
$green-color: #95D0A1;
$green-color-active: #3EB57C;
$white-color: #FFF;

// size
$size-5: 5px;
$size-7: 7px;
$size-8: 8px;
$size-10: 10px;
$size-12: 12px;
$size-13: 13px;
$size-14: 14px;
$size-15: 15px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-24: 24px;
$size-25: 25px;
$size-32: 32px;
$size-40: 40px;
$size-44: 44px;
$size-48: 48px;
$size-54: 54px;
$size-80: 80px;
$size-96: 96px;
$size-100: 100px;
$size-120: 120px;
$size-156: 156px;
$size-400: 400px;
$size-800: 800px;
$size-860: 860px;
$size-1200: 1200px;


// fonts
$font-bold: PTRootUIWebBold, Arial, Helvetica, sans-serif;
$font-regular: PTRootUIWebRegular, Arial, Helvetica, sans-serif;


// functions
@function repeater($n, $character) {
  $c: "";

  @for $i from 1 through $n {
      $c: $c + " " + $character;
  }
  @return unquote($c);
}
